#headshot {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

#contact a {
  text-decoration: none;
  color: black;
}

#footer {
  font-size: smaller;
}
